node_modules/
.env
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Hardhat
hardhat-deployments/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
